.DS_Store
node_modules
# /dist

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
dist/_redirects
dist/favicon.ico
dist/index.html
dist/css/app.74026955.css
dist/css/chunk-7ae1ce32.9aebfefb.css
dist/css/chunk-11e813ac.b25b9f0d.css
dist/css/chunk-46d34146.2236b005.css
dist/css/chunk-vendors.cbc2a074.css
dist/js/app.8a183c70.js
dist/js/app.8a183c70.js.map
dist/js/chunk-7ae1ce32.cd00a3ff.js
dist/js/chunk-7ae1ce32.cd00a3ff.js.map
dist/js/chunk-11e813ac.5e4aa1c5.js
dist/js/chunk-11e813ac.5e4aa1c5.js.map
dist/js/chunk-46d34146.7a3ddac0.js
dist/js/chunk-46d34146.7a3ddac0.js.map
dist/js/chunk-746908e5.bc10cf01.js
dist/js/chunk-746908e5.bc10cf01.js.map
dist/js/chunk-vendors.028b7dd6.js
dist/js/chunk-vendors.028b7dd6.js.map
